<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Бронирование • Railway Booker</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body class="app-bg">

<header th:replace="~{fragments/topbar :: topbar}"></header>

<main class="page">
    <section class="welcome">
        <h1>Бронирование</h1>
        <p>Переходим к выбору места и оформлению билета.</p>
    </section>

    <section class="cards-grid">
        <article class="card">
            <div th:if="${tripId != null}">
                Выбран рейс: <b th:text="${tripId}"></b>
            </div>

            <div th:if="${tripId1 != null}">
                Выбран маршрут с пересадкой:
                <b th:text="${tripId1}"></b> + <b th:text="${tripId2}"></b>
            </div>

            <div class="actions mt-16">
                <a class="btn" th:href="@{/routes/search}">Назад</a>
            </div>
        </article>
    </section>
</main>

</body>
</html>
