<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${station.id == null} ? 'Новая станция' : 'Редактирование станции'">Станция</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body class="app-bg">
<header th:replace="~{fragments/topbar :: topbar}"></header>

<main class="page">
    <h1 th:text="${station.id == null} ? 'Добавить станцию' : 'Редактировать станцию'">Станция</h1>

    <form th:action="@{/admin/panel/stations/create}"
          th:object="${station}"
          method="post"
          class="form card">

        <!-- ВАЖНО: чтобы при edit был UPDATE, а не INSERT -->
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label>Название</label>
            <input type="text" th:field="*{name}" required>
        </div>

        <div class="form-group">
            <label>Код станции</label>
            <input type="text" th:field="*{code}" required>
        </div>

        <button class="btn primary w-100">Сохранить</button>
    </form>
</main>

</body>
</html>
