<header class="topbar" th:fragment="topbar"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <div class="logo">
        <a th:href="@{/}" class="link-plain">
            Railway Booker
        </a>
    </div>

    <div class="topbar-right">
        <span class="user-name"
              sec:authorize="isAuthenticated()"
              sec:authentication="principal.user.fullName">
        </span>

        <a class="btn ghost" th:href="@{/admin/dashboard}"
           sec:authorize="hasRole('ADMIN')">
            Управление
        </a>

        <a class="btn ghost" th:href="@{/profile}"
           sec:authorize="hasRole('CUSTOMER')">
            Личный кабинет
        </a>

        <form th:action="@{/logout}" method="post"
              sec:authorize="isAuthenticated()">
            <button class="btn ghost" type="submit">Выйти</button>
        </form>

        <a class="btn ghost" th:href="@{/login}"
           sec:authorize="isAnonymous()">
            Войти
        </a>
    </div>
</header>
